html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    // font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #4f4f4f;
    font-size: 16px;
    line-height: 24px;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
button{
    border: none;
    outline: none;
}
.container{
    max-width: 1455px;
    margin: 0 auto;
    padding:  0 15px;
}
.title{
    font-family: 'Fira Sans', sans-serif;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
}
.btn{
    width: 220px;
    border-radius: 7px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
   
    &.btn-request{
        padding: 20px 0px ;
        background-color: #03BCFC;
        transition: all ease-in-out 0.3s;
        &:hover{
        }
        &:active{
            background: #078FF2;
            transition: all ease-in-out 0.3s;
        }
    }
    &.btn-info{
        background-color: transparent;
        color: #4F4F4F;
        padding: 20px 0px ;
        border: 1px solid #03BCFC;
        transition: all ease-in-out 0.3s;
        &:hover{
            background: #03BCFC;
            color: #FFFFFF;
            transition: all ease-in-out 0.3s;
        }
        &:active{
            color: #FFFFFF;
            background: #078FF2;
            transition: all ease-in-out 0.3s;
        }
    }
}

