@import "global";

.header{
    &__inner{
        padding-top: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    &__logo{
        margin-right: 142px;
    }
    
}
.menu__list{
}
.menu__item{
    display: inline-block;
    & + .menu__item{
        margin-left: 90px;
    }
    
}



.top{
    &__inner{
        display: flex;
        justify-content: space-between
    }
    &__info{
        padding-top: 33px;
    }
    &__title{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        font-size: 55px;
        line-height: 66px;
        margin-bottom: 23px;
    }
    &__subtitle{
        font-size: 25px;
        line-height: 47px;
        margin-bottom: 45px;
    }
    &__btn{
       margin-bottom: 65px; 
    }
    &__descr{
        display: flex;
        
    }
    &__descr-item{
        display: inline-block;
        max-width: 244px;
        margin-right: 65px;
    }
    &__descr-title{
        margin-bottom: 14px;
        span{
            text-transform: uppercase;
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
        }
    }
    &__img{
        max-width: 702px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}




.advantages{
    &__inner{
        padding-top: 79px;
       text-align: center;
        margin-bottom: 50px;
    }
    &__title{
        max-width: 470px;
        margin: 0 auto;
        margin-bottom: 54px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 75px;
    }
    &__item{
       
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-size: cover;
            background-repeat: no-repeat;
            
        }
        &--chart{
            padding-left: 120px;
            &::before{

                background-image: url('../images/icons/chart.svg');
                width: 90px;
                height: 76px;
            }
        }
        &--price{
            padding-left: 107px;
            &::before{

                background-image: url('../images/icons/price.svg');
                width: 70px;
                height: 80px;
            }
        }
        &--headphones{
            padding-left: 113px;
            &::before{
                background-image: url('../images/icons/headphones.svg');
                width: 80px;
                height: 80px;
            }
        }
    }
    &__btn{
        margin-bottom: 50px;
    }
    &__descr{
        max-width: 910px;
        margin: 0 auto;
        text-align: left;
        display: none;
        span{
            font-weight: 600;
        }
    }
}


.services{
    &__inner{
        padding-top: 60px;
        text-align: center;
        margin-bottom: 110px;
    }
    &__title{
    }
    &__cards{
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
    }
    &__card{
        margin-top: 50px;
        width: 410px;
        min-height: 525px;
        background: #FFFFFF;
        box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        text-align: left;
        &:nth-child(n+4){
            display: none;
        }
    }
    &__card-img{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 332px;
        margin-bottom: 30px;
    }
    &__card-descr{
        padding: 0 42px 0 45px;
        margin: 0;
    }
    &__btn{
        margin-top: 40px;
    }
}



.price{
    &__inner{
        margin-bottom: 120px;
    }
    &__title{
        margin: 0 auto;
        max-width: 400px;
        margin-bottom: 62px;
    }
    &__items{
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 300px;
        background: #FFFFFF;
        box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        min-height: 210px;
    }
    &__item-name{
        padding-top: 30px;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 14px;
    }
    &__item-descr{
        margin-bottom: 20px;
    }
    &__item-cost{
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
    }
    
}


.reviews{
    &__inner{
        margin-bottom: 110px;
    }
    &__title{
        margin-bottom: 50px;
    }
    .slider{
        &__item{
            max-width: 410px ;
            background: #FFFFFF;
            box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.1);
            border-radius: 7px;
            margin: 0 30px 40px;
        }
        &__item-inner{
            padding: 18px 30px 46px 25px;
            
        }
        &__item-img{
            margin: 0 auto 23px;
            width: 181px;
            height: 59px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__item-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        &__item-name{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
        &__item-city{
            font-size: 14px;
            line-height: 17px;
        }
        &__item-position{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
        &__item-descr{
            margin-bottom: 30px;
        }
        &__item-link{
            padding-right: 46px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 30px;
                height: 8px;
                background-image: url('../images/icons/left-arrow.svg');
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &__btn{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 40px;
            background-image: url('../images/icons/slider-left-arrow.svg');
            cursor: pointer;
            background-color: transparent;
            &--left{
                left: -70px;
            }
            &--right{
                right: -70px;       
                transform:  rotate(180deg) translateY(50%);
            }
        }
        .slick-dots{
            font-size: 0;
            display: flex;
            justify-content: center;
            cursor: pointer;
            li{
                
                border: 1px solid #C4C4C4;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                & + li{
                    margin-left: 10px;
                }
                &.slick-active{
                    border: none;
                    background-color: #03BCFC;
                }
                button{
                    outline: none;
                    padding: 0;
                }
            }
        }
    }
}